# Ignore CDK-related files and directories
cdk.out/
*.cdk.json
csv_to_kinesis_stream/

data/

# Ignore Node.js dependencies if using CDK with TypeScript/JavaScript
node_modules/
package-lock.json
yarn.lock

# Ignore Python virtual environment
.venv/

# Ignore test files
tests/
__pycache__/

# Ignore version control directories
.git/
.gitignore

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

